// Place all the styles related to the Apartments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new {
  padding: 10px;
  margin: 10px;
  border-radius: 10%;
}

.filter {
  display: inline;
  padding: 10px;
}

a {
  padding: 20px 100px;
  text-decoration: none;
}

li {
  list-style: none;
  border: 2px solid #0C043D;
  padding: 30px;
  margin-left: -40px;
  text-align: center;
  margin: 20px;
}

a span {
  padding: 2px;
  text-align: center;
  font-size: 1.2em;
}

#headers {
  text-align: center;
}

#headers span {
  padding: 10px;
}

.buttons {
  text-align: center;
  background-color: #0C043D;
  padding: 10px;
  margin-left: -100%;
  margin-right: -100%;
  margin-top: -10%;
  padding-top: 10%;
  font-size: 1.2em;
}

button, select {
  background-color: #A8312D;
  color: #FFFFFF;
  font-size: 1.1em;
}

label {
  color: #FFFFFF;
}

.home {
  color: #FFFFFF;
  background-color: #A8312D;
  left: 80%;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
}

.home:visited {
  color: #FFFFFF;
}

.show {
  background-color: #F9FAFC;
  padding-left: 20%;
  padding-right: 10%;
  margin-left: -10%;
  margin-right: -10%;
  padding-top: 10%;
  margin-top: -10%;
  padding-bottom: 100%;
  font-size: 1.4em;
}

.show button {
  font-size: 1em;
  padding: 10px;
  margin: 10px;
  border-radius: 25%;
}

form label{
  color: black;
}

form button {
  padding: 10px 50px;
  margin-top: 10px;
}

form {
  font-size: 1.3em;
}

h1, h2 {
  color: #FFFFFF;
}

section span {
  padding: 10px;
}

h2 {
  text-align: center;
}

input {
  font-size: 1.1em;
}
